@import "tailwindcss";

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px) scale(1.5);
  }
}

.animate-float {
  animation: floatUp 1s ease-out forwards;
}